#circle1{
    width: 400px;
    height: 400px;
    position: absolute;
    background: #df045f;
    border-radius: 200px;
    top: 50px;
    left: 50px;
    opacity: 1;
    text-align: center;
}

#circle2{
    width: 400px;
    height: 400px;
    position: absolute;
    background: #651134;
    border-radius: 200px;
    top: 250px;
    left: 150px;
    opacity: 0.3;
    text-align: center;

}

#circle3{
    width: 400px;
    height: 400px;
    position: absolute;
    background: #ad758c;
    border-radius: 200px;
    top: 50px;
    left: 250px;
    opacity: 0.7;
    text-align: center;

}

.button{
    display: block;
    width: 100px;
    padding: 12px;
    border: 1px solid #77aaaa;
    font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffff56;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    background: #69fffa;
    background: -moz-linear-gradient(top, #69fffa 0%, #03136d 100%);
    background: -webkit-linear-gradient(top, #69fffa 0%, #03136d 100%);
    background: -linear-gradient(top, #69fffa 0%, #03136d 100%);
    box-shadow: 2px 2px 4px 2px rgba(40,40,40,0.6);
    
} 

.button:hover{
    background: #77aaaa;
    background: -moz-linear-gradient(bottom, #69fffa 0%, #03136d 100%);
    background: -webkit-linear-gradient(bottom, #69fffa 0%, #03136d 100%);
    background: -linear-gradient(bottom, #69fffa 0%, #03136d 100%);
    
}